@import "tailwindcss";

:root {
  --background: #FAFAFA;
  --foreground: #0F172A;
  --indigo-soft: rgba(79, 70, 229, 0.1);
}

/* Hide Scrollbar for Category Bar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

/* Premium Selection Color */
::selection {
  background: #4F46E5;
  color: white;
}